html, body {
  font-size: 16px;
}

div.container {
  width: 50%;
  margin: 0 auto;
}

nav.nav-primary {
  width: 50%;
  margin: 0 auto;
}

nav.nav-primary > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.nav-primary ul li {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}